PyQt5
QtPy==1.9.0
tk
Pillow
Numpy
opencv-python==4.1.2.30
opencv-python-headless==4.4.0.46
pytesseract
tesseract
xmltodict==0.12.0
tesserocr
tensorflow==1.15.0
scikit-image==0.17.2
scipy==1.0.0
Shapely==1.7.1
imutils==0.5.3


